:root{
  --color-one: #1A1B25;
  --color-two: #0C8346;
  --color-three: #F45B69;
  --color-four: #EBEBEB;
  --color-five: #4062BB;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  background-color: var(--color-one);
  color: var(--color-four);
}
